<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    #bg{
        background-repeat:no-repeat;
        background-size:cover;
    }
    th,tr{
        background-color:white;
        width:300px;
        height:40px;
    }
    table{
        width:500px;
    }
</style>
<body id="bg" style="background-image:url('{% static "images/edit2.jpg" %}')";>
    <form action="{% url 'edit_details' students.id %}" method="post">
        {% csrf_token %}
        <center>
            <br><br><br>
            <center><h1 style="color:red";>Edit Student Details</h1></center>
    <table>
        <tr>
            <td><label>Student Name</label></td>
            <td><input type="text" name="sname" value="{{students.StudentName}}"></td>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" name="address" value="{{students.Address}}"></td>
        </tr>
        <tr>
            <td><label>Age</label></td>
            <td><input type="text" name="age" value="{{students.Age}}"></td>
        </tr>
        <tr>
            <td><label>Email Address</label></td>
            <td><input type="text" name="email" value="{{students.Emailid}}"></td>
        </tr>
        <tr>
            <td><label>Joining Date</label></td>
            <td><input type="date" name="jdate" value="{{students.JoiningDate}}"></td>
        </tr>
        <tr>
            <td><label>Qualification</td>
            <td>
                <select name="qualification" value="{{students.Qualification}}">
                    <option selected="select your qualifiaction" disabled>Select Your Qualification</option>
                    <option value="sslc">SSLC</option>
                    <option value="plustwo">PlusTwo</option>
                    <option value="degree">Degree</option>
                    <option value="diploma">Diploma</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Gender</td>
            <td>
                <input type="radio" name="gender" value="Male"><label>Male</label><br>
                <input type="radio" name="gender" value="Female"><label>Female</label><br>
                <input type="radio" name="gender" value="Other"><label>Others</label><br>
            </td>
        </tr>
        <tr>
            <td><label>Mobile Number</td>
            <td><input type="text" name="mobileno" value="{{students.Mobileno}}"></td>
        </tr>
        <tr>
            <td>
            </td>
            <td><input type="submit" value="Update"></td>

        </tr>
    </table>
</center>
</form>
</body>
</html>