<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      #bg{
        background-repeat:no-repeat;
        background-size:cover;
    }
    </style>
</head>
<body id="bg" style="background-image:url('{% static "images/id.jpg" %}')";>
  <br>
  <br>
  <center>
    <div class="card" style="width: 22rem;">
        <div class="card-body" style="background-color:white";>
          <table>
          <tr><td colspan="2"><h5 class="card-title"><center>{{students.StudentName}}</center></h5></td></tr>
          
          <tr><h6 class="card-subtitle mb-2 text-muted"><td><label>Address:</td><td></label>{{students.Address}}</td></h6></tr>
          <tr><p class="card-text"><td><label>Age:</label></td><td>{{students.Age}}</td</p></tr>
          <tr><p class="card-text"><label><td>Email Address:</td><td></label>{{students.Emailid}}</td></p></tr>
          <tr><p class="card-text"><td><label>Joining Date:</label></td><td>{{students.JoiningDate}}</td></p></tr>
          <tr><p class="card-text"><td><label>Qualification</label></td><td>{{students.Qualification}}</td></p></tr>
          <tr><p class="card-text"><td><label>Gender:</label></td><td>{{students.Gender}}</td></p></tr>
          <tr><p class="card-text"><td><label>Contact Number:</label></td><td>{{students.Mobileno}}</td></p></tr>
          <tr>
          <td><a href="{% url 'show_student' %}" class="card-link">GO BACK</a></td>
          <td></td></tr>
        </table>
        </div>
      </div>
    </center>
</body>
</html>